// ==============================
// Override Variables
// ==============================

.home[posts] .home-avatar img {
    width: auto;
}

.home .home-profile .home-avatar img {
    display: inline-block;
    width: 100%;
}

.home .home-profile .links {
    font-size: 3.5rem;
}
